

:root {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 4fr;
    grid-template-rows: 160px 1fr;
}

.sidebar{
    grid-area: 1/1/3/1;
    background-color: blueviolet;
    align-items: center;
}

.sidebar .logo{
    display: grid;
    margin-top: 20px;
    align-items:center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.sidebar .logo img{
    height: 40px;
    grid-area: 1/1/1/1;
    justify-self: center;
    filter: invert(100%);
}

.sidebar .logo p{
    grid-area: 1/2/1/3;
    font-size: 24px;
    color: white;
}

.sidebar > * {
    padding: 20px 20px 20px;
}

.sidebar li{
    margin: 15px;
    list-style: none;
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.sidebar li img{
    justify-self: right;
    padding: 0 15px 0 0;
    filter: invert(100%);
}

.header{
    grid-area: 1/2/1/-1;
    display: grid;
    grid-template-rows: 2fr 3fr;
    background-color: white;
}

.top-header{
    grid-row: 1/1;
    display: grid;
    grid-template-columns: 1fr 250px;
    align-items: center;
}

.top-header .left{
    grid-column: 1/1;
    margin: 0 20px 0;
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
}

#search-box{
    appearance: none;
    padding-left: 15px;
    border: none;
    display: flex;
    margin: 0 10px 0;
    height: 35px;
    max-width: 700px;
    background-color: lightgrey;
    border-radius: 50PX;
}

.top-header .right{
    grid-column: 2/3;
    margin: 0 20px 0;
    display: grid;
    justify-content: space-around;
    grid-template-rows: 1fr;
    align-items: center;
}

.top-header .right > *{
    align-items: center;
    grid-row: 1/1;
}

.top-header .profile {
    height: 50px;
    border-radius: 50%;
}

.bottom-header{
    grid-row: 2/2;
    display: grid;
    grid-template-columns: 350px 1fr 300px;
    align-items: center;
}

.bottom-header .left{
    grid-column: 1/1;
    display: grid;
    align-items: center;
    grid-template-columns: 110px 1fr;
}

.bottom-header .left img{
    width: 70px;
    height: 70px;
    margin: 10px 10px 10px 20px;
    border-radius: 50%;
}

.bottom-header .left p.hi-there{
    font-size: 14px;
    margin-bottom: 3px;
}

.bottom-header .left p.username{
    font-size: 20px;
}

.bottom-header .right{
    grid-column: -2/-1;
    display: grid;
    grid-template-rows: 1fr;
}

button{
    border-radius: 50px;
    grid-row: 1/1;
    width: 80px;
    height: 40px;
    appearance: none;
    border: 0;
    background-color: blueviolet;
    color: white;
    font-weight: 800;
}

.main-content{
    display: grid;
    max-height: 800px;
    grid-template-columns: minmax(300px, 3fr) minmax(300px, 1fr);
    grid-template-rows: 300px 300px 1fr;
    gap: 20px;
    margin: 20px;
}

.main-content-left{
    display: grid;
    grid-template-rows: 39px 1fr;
    grid-area: 1/1/-1/1;
}

.main-content-left .p{
    grid-area: 1/1/1/1;
}

.your-projects{
    grid-area: 2/1/-1/1;
    display: grid;
    overflow: auto;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(max(250px, 40%), auto));
    grid-template-rows: repeat(2, 1fr);
}

.card{
    background-color: white;
    border-radius: 10px;
    height: 220px;
    display: grid;
    grid-template-rows: 55px 2fr 1fr;
    grid-template-columns: 10px 1fr 1fr;
}

.color-panel{
    grid-area: 1/1/-1/1;
    background-color: blueviolet;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.project-name{
    display: grid;
    text-align: center;
    align-items: center;
    grid-column: 2/4;
}

.project-description{
    font-size: 12px;
    color: rgb(72, 72, 72);
    margin: 0 20px 0;
    grid-column: 2/4;
}

.icons{
    display: grid;
    width: 100%;
    grid-area: 3/3/4/4;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
}

.announcements{
    height: 240px;
    border-radius: 10px;
    grid-area: 1/2/1/2;
}

.announcements.card{
    display: grid;
    grid-template-rows: 1fr 1px 1fr 1px 1fr;
    grid-template-columns: 1fr;
}

.announcement{
    display: grid;
    grid-template-rows: 20px 1fr;
    padding: 10px 20px 10px;
}

hr{
    margin: 0 20px 0;
}

.announcement-title{
    font-size: 12px;
}

.announcement-description{
    font-size: 10px;
    color: rgb(72, 72, 72);
}


.trending{
    height: 240px;
    border-radius: 10px;
    grid-area: 2/2/2/2;
}

.trending .card{
    display: grid;
    padding: 15px 0 15px 0;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.trending-post{
    display: grid;
    align-items: center;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.trending-post img{
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 50%;
    height: 50px;
    align-self: center;
    justify-self: center;
}

.trending-post .handle{
    align-self: flex-end;

}

.trending-post .bio{
    align-self: flex-start;
    color: grey;
    font-size: 12px;
}

img{
    height: 24px;
    aspect-ratio: auto;
}

.section-heading{
    margin-bottom: 20px;
}

.clickable:hover{
    cursor: pointer;
    -webkit-transform: scale(1.07);
}

